@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satisfy", "Open Sans", "sans-serif";
  font-display: optional;
  src: url(https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%7CSatisfy&#038;subset=latin%2Clatin-ext&#038;ver=4.9.7);
}

body {
  background-color: #fff;
  color: #6b6b6b;
}

.bg-main-color {
  background-color: #6366f1;
}

.wrap-all-container {
  max-width: 1300px;
  margin: 0 auto;
}

.main-content {
  max-width: 800px;
  float: left;
  margin: 0 0 50px 0;
}
.cat-name {
  margin: auto auto 10px;
  width: 96%;
}

.right-sidebar {
  max-width: 400px;
  float: left;
  padding: 0 0 0 50px;
}

@media only screen and (max-width: 1000px) {
  .main-content {
    max-width: 100%;
  }

  .right-sidebar {
    max-width: 100%;
    float: left;
    padding: 0 0 50px 3%;
  }
}
